{% extends "base.html" %}

{% block content %}
  <h1>{% block now_showing %}Últimas{% endblock %}</h1>
  {% for entry in entries %}
    
    <h3>
      [{{ entry.kind }}] {{entry.title}}
    </h3>
    <h4>
      {% if show_status %}
        ( id: {{ entry.id }}
        {% if entry.approved == False %}
          - <span style="color: red">ainda não aprovado</span>
        {% else %}
          - <span style="color: green">aprovado</span>
        {% endif %}
        )
      {% endif %}
    </h4>
    {% if entry.kind == 'link' or  'evento' %}
      <a href="{{ entry.text }}" target="_blank">{{ entry.text }}</a>
    {% elif entry.kind == 'video' %}
      <iframe id="ytplayer" type="text/html" width="640" height="390"
        src="{{ entry.text }}"
        frameborder="0"></iframe>
    {% endif %}
  {% endfor %}
{% endblock %}