{% extends "base.html" %}

{% block content %}
  {% if success %}
    <div class="alert alert-success">
      Recebemos o seu envio, em breve as informação estarão disponíveis para todos.
    </div>
  {% elif fail %}
    <div class="alert alert alert-error">
      Houve um problema com o seu envio, tente novamente.
    </div>
  {% endif %}
  <h3>Envie novas informações</h3>
  <p>Envie aqui informação sobre as manifestações: vídeos, datas, links de artigos</p>
  
  <form class="form-horizontal" method="POST">
    <fieldset>
      {% csrf_token %}
      {{ form }}

      <div class="control-group">
        <div class="controls">
          <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6Ld25OISAAAAAGDKpHjw_a19k9wII29U4qF-Nwei">
          </script>
          <noscript>
           <iframe src="https://www.google.com/recaptcha/api/noscript?k=6Ld25OISAAAAAGDKpHjw_a19k9wII29U4qF-Nwei"
               height="300" width="500" frameborder="0"></iframe><br>
          </noscript>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Enviar</button>
        </div>
      </div>
    </fieldset>
  </form>
  <br/>
  <br/>
  <h4>Para quem trabalha com computação</h4>
  <p>Contribua para o projeto em: <a href="https://github.com/filipeximenes/ogiganteacordou">https://github.com/filipeximenes/ogiganteacordou</a></p>
{% endblock %}